openapi: 3.1.0
info:
  title: CircleCI REST API V2 Context API
  description: The CircleCI REST API v2 provides programmatic access for managing pipelines, projects, workflows, jobs, contexts, and users on the CircleCI continuous integration and delivery platform.
  version: 2.0.0
  contact:
    name: CircleCI Support
    url: https://support.circleci.com/
  license:
    name: Proprietary
    url: https://circleci.com/legal/terms-of-service/
servers:
- url: https://circleci.com/api/v2
  description: CircleCI API v2
security:
- apiTokenAuth: []
- basicAuth: []
tags:
- name: Context
  description: Operations for organization contexts.
paths:
  /context:
    get:
      operationId: listContexts
      summary: List contexts
      description: List all contexts for an owner.
      tags:
      - Context
      parameters:
      - name: owner-id
        in: query
        schema:
          type: string
      - name: page-token
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of contexts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    post:
      operationId: createContext
      summary: Create a context
      description: Creates a new context in the specified organization.
      tags:
      - Context
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Created context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
components:
  schemas:
    GenericResponse:
      type: object
      additionalProperties: true
    GenericRequest:
      type: object
      additionalProperties: true
  securitySchemes:
    apiTokenAuth:
      type: apiKey
      in: header
      name: Circle-Token
      description: CircleCI personal API token.
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with API token as username.
x-generated-from: https://circleci.com/docs/api/v2/
x-generated-by: claude-crawl-2026-05-08
